body {
    background: #dcd2a5;
}

.header-blogs {
    background: #b8ad7d;
}

.blogs-container {
    width: 90%;
    max-width: 1200px;
    margin: 90px auto 60px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: #dcd2a5;
    padding: 30px 0;
    border-radius: 15px;
}

.blog-item {
    width: 100%;
    height: 260px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #a89b60;
}

.blog-item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
}

.blog-item h2 {
    position: relative;
    color: white;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    z-index: 2;
    line-height: 1.3;
    padding: 0 20px;
}

.blog-item:hover {
    transform: scale(1.02);
}

.blog-item:hover::after {
    background: rgba(0, 0, 0, 0.45);
}