html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main.container {
    display: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    background: rgba(0, 0, 0, 0.35);
    padding: 14px 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.nav a.active {
    color: #c9c15e;
}

.auth-btns a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 0 14px;
    border-radius: 8px;
    font-weight: 500;
}

.auth-btns {
    display: flex;
    align-items: center;
    gap: 12px;
}


.signup-btn {
    color: white;
    background: transparent;
    border: 1px solid white;
}

.login-btn {
    background: white;
    color: #333;
}

.footer {
    background: #333;
    color: white;
    padding: 30px 0 20px;
    text-align: center;
    margin-top: 0;
}