.hero {
    background-image: url('../images/home_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;

    padding-top: 140px;
    padding-bottom: 300px;

    width: 100%;
    position: relative;
    color: white;
}

.hero-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.hero-left {
    width: 50%;
    background: rgba(0, 0, 0, 0.35);
    padding: 24px;
    border-radius: 26px;
    backdrop-filter: blur(6px);
    box-shadow:
        0px 6px 20px rgba(0, 0, 0, 0.25),
        0px 2px 8px rgba(0, 0, 0, 0.15);
}

.hero-left h1 {
    margin-bottom: 16px;
}

.hero-left p {
    margin-bottom: 14px;
}

.hero-right {
    width: 48%;
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    margin-top: 30px;
    padding-right: 0px;
}

.btn-start {
    padding: 10px 22px;
    background: #d1c744;
    color: #333;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
}

.box {
    width: 190px;
    height: 280px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 22px;
    border: 3px solid #d4b500;
    box-shadow: 
        0px 8px 20px rgba(0, 0, 0, 0.28),
        0px 4px 10px rgba(0, 0, 0, 0.18);

    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: hidden;
}

.box-1 {
    margin-top: 60px;
    background-image: url('../images/box1.jpg');
}

.box-2 {
    margin-top: 30px;
    background-image: url('../images/box2.jpg')
}

.box-3 {
    margin-top: 0px;
    background-image: url('../images/box3.jpg');
}