/* ===== LOGIN POPUP ===== */

.login-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(2px);
    display: none;
    z-index: 200;
}

.login-popup {
    width: 420px;
    background: white;
    padding: 40px 50px;
    border-radius: 32px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    transition: 0.25s;
    z-index: 201;
    box-shadow: 0px 10px 28px rgba(0,0,0,0.25);
    display: none;
}

.login-popup.active {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.login-title {
    text-align: center;
    color: #6cc7e7;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 26px;
}

.login-input {
    width: 100%;
    height: 46px;
    border-radius: 12px;
    border: 2px solid #89b8d6;
    padding: 0 14px;
    font-size: 15px;
    margin-bottom: 16px;
}

.login-btn-submit {
    width: 100%;
    height: 44px;
    background: #73c6ea;
    color: white;
    border: none;
    border-radius: 22px;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 20px;
    cursor: pointer;
}

.oauth {
    width: 100%;
    height: 52px;
    background: #f8f8f8;
    border-radius: 26px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 14px;
    margin-bottom: 14px;
    font-size: 17px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.oauth img {
    width: 28px;
}

.login-small {
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
}

.login-link {
    color: #6cc7e7;
    text-decoration: none;
    font-size: 14px;
}

.login-footer-links {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    font-size: 15px;
}

/* OTP INPUT */
.otp-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 20px;
}

.otp-input {
    width: 50px;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #d9d9d9;
    border-radius: 50%;
    outline: none;
    background: #f1f1f1;
    transition: 0.2s;
}

.otp-input:focus {
    border-color: #54b4f8;
    background: #fff;
}
