<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Trang chủ - SmartTour</title>
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <header class="header">
        <div class="container header-inner">

        <!-- Logo -->
            <div class="logo">Culture Compass</div>

        <!-- Menu -->
            <nav class="nav">
                <ul>
                    <li><a href="home.html" class="active">Home</a></li>
                    <li><a href="service.html">Service</a></li>
                    <li><a href="blogs.html">Blogs</a></li>
                    <li><a href="user.html">User</a></li>
                </ul>
            </nav>

        <!-- Sign up / Login -->
            <div class="auth-btns">
                <a class="signup-btn" href="#">Sign up</a>
                <a class="login-btn" href="#">Login</a>
            </div>

        </div>
    </header>

    <section class="hero" id="hero-bg">
        <div class="hero-inner">
            <div class="hero-left">
                <h1>Culture Compass - Khám phá chất Việt qua những hành trình đậm nét văn hoá</h1>
                <p>Trải nghiệm những truyền thống ẩn giấu, những lễ hội chân thực và những hành trình khó quên khắp Việt Nam.</p>
                <a href="service.html" class="btn-start">Start now!</a>
            </div>  
            
            <div class="hero-right">
                <div class="box box-1" id="thumb-1"></div>
                <div class="box box-2" id="thumb-2"></div>
                <div class="box box-3" id="thumb-3"></div>
            </div>
        </div>
    </section>

    <main class="container">
        <h1>Trang chủ</h1>
        <p>Chào mừng bạn đến với SmartTour.</p>
    </main>

    <footer class="footer">
        <p>2025 SmartTour - Hệ thống gợi ý hành trình du lịch</p>
    </footer>

    <!-- LOGIN POPUP -->
    <div id="login-overlay" class="login-overlay"></div>

    <div id="login-popup" class="login-popup">
        <h2 class="login-title">ĐĂNG NHẬP</h2>

        <input type="text" class="login-input" placeholder="Tên đăng nhập">
        <input type="password" class="login-input" placeholder="Mật khẩu">

        <button class="login-btn-submit">Đăng nhập</button>

        <div class="oauth google">
            <img src="../static/images/google.png">
            <span>Google</span>
        </div>

        <div class="oauth facebook">
            <img src="../static/images/facebook.png">
            <span>Facebook</span>
        </div>

        <p class="login-small">
            Chưa có tài khoản? <a class="login-link" href="#">Tạo tài khoản mới</a>
        </p>

        <div class="login-footer-links">
            <a class="login-link" href="#">Quên mật khẩu?</a>
            <a class="login-link guest-continue" href="#">Tiếp tục với tư cách khách</a>
        </div>
    </div>

    <!-- SIGN UP --> 
    <!-- step 1-->
    <div id="signup-overlay" class="login-overlay"></div>

    <div id="signup-popup" class="login-popup">
        <h2 class="login-title">Hãy cùng bắt đầu nào!</h2>

        <input type="text" class="login-input" placeholder="Nhập số điện thoại hoặc email">

        <button class="login-btn-submit">Tiếp tục</button>

        <p class="login-small">
            <a class="login-link back-to-login" href="#">← Quay lại trang đăng nhập</a>      
        </p>

        <p class="login-small" style="margin-top: 10px; color: #333;">
            Nhiều tính năng hơn đang đợi bạn. Hãy đăng nhập để được mở khóa.
        </p>

        <p class="login-small">
            <a class="login-link guest-continue" href="#">Tiếp tục với tư cách là khách</a>
        </p>
    </div>

    <!-- step 2-->
    <div id="signup2-overlay" class="login-overlay"></div>

    <div id="signup2-popup" class="login-popup">
        <h2 class="login-title">Hãy cùng bắt đầu nào!</h2>

        <input type="text" class="login-input" placeholder="Tên đăng nhập">
        <input type="password" class="login-input" placeholder="Mật khẩu (ít nhất 8 ký tự)">
        <input type="password" class="login-input" placeholder="Xác nhận mật khẩu">

        <button class="login-btn-submit">Tạo tài khoản</button>

        <p class="login-small">
            <a class="login-link back-to-signup1" href="#">← Quay lại trang đăng nhập</a>
        </p>

        <p class="login-small" style="margin-top: 10px; color: #333">
            Nhiều tính năng hơn đang đợi bạn. Hãy đăng nhập để được mở khóa
        </p>

        <p class="login-small">
            <a class="login-link guest-continue" href="#">Tiếp tục với tư cách là khách</a>
        </p>
    </div>
    
    <!-- JAVA SCRIPT-->
    <!--3 cai hinh-->
    <script>
        const images =[
            '../static/images/home_1.jpg',
            '../static/images/box1.jpg',
            '../static/images/box2.jpg',
            '../static/images/box3.jpg'
        ];

        const hero = document.getElementById('hero-bg');
        const thumbs = [
            document.getElementById('thumb-1'),
            document.getElementById('thumb-2'),
            document.getElementById('thumb-3')
        ];

        function updateThumbnails() {
            for(let i = 1; i < images.length; i++) {
                thumbs[i - 1].style.backgroundImage = `url(${images[i]})`;
            }   
        }
    
        thumbs.forEach((thumb,index) => {
            thumb.addEventListener('click', () => {
                const clickedImage = images[index + 1];
                hero.style.backgroundImage = `url(${clickedImage})`;
            
                const oldHero = images[0];
                images[0] = clickedImage;
                images[index + 1] = oldHero;

                updateThumbnails();
            });
        });

        updateThumbnails();
    </script>

    <!--FORGOT PASSWORD-->
    <div id="forgot-overlay" class="login-overlay"></div>

    <div id="forgot-popup" class="login-popup">
        <h2 class="login-title">QUÊN MẬT KHẨU</h2>

        <p class="login-small" style="text-align:center; font-size:17px; color:#000; font-weight: 600; margin-bottom: 18px;">
            Nhập email hoặc số điện thoại để xác thực
        </p>

        <input type="text" class="login-input" placeholder="Example@gmail.com / 09 1234 5678">
        <button class="login-btn-submit">Gửi</button>

        <p class="login-small" style="margin-top: 14px;">
            <a class="login-link back-to-login-from-forgot" href="#">← Quay lại trang đăng nhập</a>
        </p>
    </div>

    <!-- FORGOT PASSWORD STEP 2 -->
    <div id="forgot2-overlay" class="login-overlay"></div>

    <div id="forgot2-popup" class="login-popup">
        <h2 class="login-title">XÁC THỰC</h2>

        <p class="login-small" style="text-align:center; font-size:18px; font-weight:600; color:#000; margin-bottom:20px;">
            Nhập mã xác thực
        </p>

        <div class="otp-container" style="display:flex; justify-content:center; gap:16px; margin-bottom:20px;">
            <input maxlength="1" class="otp-input" type="text">
            <input maxlength="1" class="otp-input" type="text">
            <input maxlength="1" class="otp-input" type="text">
            <input maxlength="1" class="otp-input" type="text">
        </div>

        <p class="login-small" style="text-align:center; margin-bottom: 18px;">
            Bạn không nhận được mã? <a href="#" class="login-link resend-otp">Gửi lại</a>
        </p>

        <button class="login-btn-submit">Xác thực</button>

        <p class="login-small" style="margin-top: 14px;">
            <a class="login-link back-to-forgot1" href="#">← Quay lại</a>
        </p>
    </div>

    <!-- FORGOT PASSWORD STEP 3 -->
    <div id="forgot3-overlay" class="login-overlay"></div>

    <div id="forgot3-popup" class="login-popup">
        <h2 class="login-title">MẬT KHẨU MỚI</h2>

        <p class="login-small" style="text-align:center; font-size:18px; font-weight:600; color:#000; margin-bottom:20px;">
            Nhập mật khẩu mới
        </p>

        <input type="password" class="login-input new-pass" placeholder="8 symbols at least">
    
        <p class="login-small" style="font-size:18px; font-weight:600; color:#000; margin:15px 0 10px;">
            Xác nhận mật khẩu
        </p>

        <input type="password" class="login-input new-pass2" placeholder="********">

        <button class="login-btn-submit confirm-new-pass">Xác nhận</button>

        <p class="login-small" style="margin-top: 14px;">
            <a class="login-link back-to-forgot2" href="#">← Quay lại</a>
        </p>
    </div>

    <script src="../static/js/login.js"></script>

</body>

</html>