<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Trang chủ - SmartTour</title>
    <link rel="stylesheet" href="../static/css/global.css">
</head>

<body>

    <header class="header">
    <div class="container header-inner">

        <!-- Logo -->
        <div class="logo">Culture Compass</div>

        <!-- Menu -->
        <nav class="nav">
            <ul>
                <li><a href="home.html" class="active">Home</a></li>
                <li><a href="service.html">Service</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="user.html">User</a></li>
            </ul>
        </nav>

        <!-- Sign up / Login -->
        <div class="auth-btns">
            <a class="signup-btn" href="#">Sign up</a>
            <a class="login-btn" href="#">Login</a>
        </div>

    </div>
    </header>

    <main class="container">
        <h1>Trang người dùng</h1>
        <p>Thông tin người dùng.</p>
    </main>

    <footer class="footer">
        <p>2025 SmartTour - Hệ thống gợi ý hành trình du lịch</p>
    </footer>

</body>

</html>